body{
  box-sizing: border-box;
  text-align: center;
  background-color: #333333;
}

header{
  height: 5em;
  background-color: #000;
}

a{
  text-decoration: none;
  color: white;

}

#logIn{
  height: 100vh;
  background: linear-gradient(to bottom left, #5CA86E , #EA8484);
  color: white;
}

#inicio{
  background-color: transparent;
  border: 1px solid white;
  font-weight: bolder;
}

#logo{
  width: 70%;
  margin-left: 15%;
  margin-top: 5em;
  margin-bottom: 2em;
}

#user, #key {
background-color: rgba(255,255,255, 0.27);
}

form input{
  display: block;
  width: 100%;
  padding: 0.7em;
  border-radius: 0.3em;
  border: none;
  margin-bottom: 0.8em;
}

.col-xs-3 img{
  width: 12pc;
  height:8pc;
  cursor: pointer;
  margin-bottom: 3px;
}

.col-xs-3 , .col-sm-3{
  padding-right: 2px;
  padding-left: 2px;
}

#one{
  background-color: #D4D4D4;
  height: 150px;
  border-bottom: 3.5px solid white;
  padding: 0;
}

#two{
  background-color: #D4D4D4;
  height: 150px;
  border-top: 3.5px solid white;
  padding: 0;
}

#three{
  background-color: #D4D4D4;
  height: 300px;
  border-left: 7px solid white;
  padding: 0;
}

#one img, #two img, #three img{
  height: 100%;
  width: 100%;
}
#booth p{
  color: #8174E3;
}